.horizontalSegment{
    clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}

.verticalSegment{
    clip-path: polygon(50% 0, 100% 8%, 100% 92%, 50% 100%, 0 92%, 0 8%);
}

.segmentColor{
    background-color: rgb(5, 238, 5);
}

.container{
    display: grid;
    grid-template-columns: 0.7rem 2.5rem 0.7rem;
    grid-template-rows: 0.7rem 2.5rem 0.7rem 2.5rem 0.7rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* margin-left: 0.35rem; */
    /* margin-right: 0.35rem; */
}

.segment0 { grid-area: 4 / 1 / 5 / 2; }
.segment1 { grid-area: 2 / 1 / 3 / 2; }
.segment2 { grid-area: 1 / 2 / 2 / 3; }
.segment3 { grid-area: 2 / 3 / 3 / 4; }
.segment4 { grid-area: 4 / 3 / 5 / 4; }
.segment5 { grid-area: 5 / 2 / 6 / 3; }
.segment6 { grid-area: 3 / 2 / 4 / 3; }